.tajawal-extralight {
    font-family: "League Spartan", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .tajawal-light {
    font-family: "League Spartan", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .tajawal-regular {
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .tajawal-medium {
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .tajawal-bold {
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .tajawal-extrabold {
    font-family: "League Spartan", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .tajawal-black {
    font-family: "League Spartan", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  body,a,li,ul,h1,h2,h3,h4,h4,h6,p,section {
      font-family: "League Spartan", sans-serif !important;
    
  } 
  
body section{
    background-color: #3b3939;
    }
.bgimage {
    height:100vh;
    background: url('images/banner.jpg?');
    background-size:cover;
    position:relative;
}
.container div ul li a{ 
    color: #fff;
}
/* text css above hero image*/
.hero_title {
    font-size: 80px;
    font-weight:900 ;
}
.hero_desc {
    font-size: 70px;
    position: absolute;
    left: 9%;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
/* about section image css */
.imageAboutPage {
    width: 100%;
    border-radius: 25px;
    transform: translate(0,-50%) perspective(600px) rotateY(20deg) rotateX(10deg);
}
/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}
/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: #000;
}
/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}
.fab {
    color: #3b3939;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}
#about, #services, #portfolio, #contact {
    
}
#contact {
    padding-bottom: 4rem;
}



/* loader style */
body{
    background-color: #3b3939 !important;
}
.wrapper {
    width: 200px;
    height: 60px;
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 45%;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #ceb34e;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
  }
  
  @keyframes circle7124 {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 0%;
    }
  }
  
  .circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
  }
  
  .circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
  .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
  }
  
  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
    }
  
    40% {
      transform: scaleX(1);
      opacity: .7;
    }
  
    100% {
      transform: scaleX(.2);
      opacity: .4;
    }
  }
  
  .shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
  }
  
  .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
   
   .navbar-nav {

    font-size: 35px;
    width: 100%;
    border-bottom: 1px solid #ceb34e;
}
   .navbar-nav li{
    border-inline: 1px solid #ceb34e;
    width: 33.3333%;
    height: max-content;
    text-align: center;
    padding-bottom: 0%;
    background-color: #3b3939;
    transition: all 0.5s ease;

   }
   .navbar-nav li.active,.navbar-nav li:hover{
    background-color: #ceb34e;
   }
   .navbar-nav li.active a,.navbar-nav li:hover a{
    color: #3b3939;
    font-weight: 600;
   }
   .navbar-nav li a{
    transition: all 0.5s ease;

    color: #ceb34e;
    font-weight: 600;
   }

.hidden{

    display: none;
}
.block{

    display: block;
}


   /* text anumation */

   .content__container {
    font-weight: 600;
    overflow: hidden;
    height: 75px;
    padding: 0 40px;
    font-size: 50px;
   }
    .content__container::before {
        content: '[';
        left: 0.6rem;
        
      
    }
    .content__container__text {
        display: inline;
        float: left;
        margin: 0;
      }
    .content__container::after {
        content: ']';
      position: absolute;
      right: 16rem;
      top: 12px !important;
    }

    .content__container::after, .content__container::before {
      position: absolute;
      top: 12px;
     
      color: #ceb34e;
      font-size: 50px;
      line-height: 40px;
      
      -webkit-animation-name: opacity;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      animation-name: opacity;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }


    .content__container__list {
      margin-top: 0;
      padding-left: 0px;
      text-align: left;
      list-style: none;
      padding: 0 110px;
      -webkit-animation-name: change;
      -webkit-animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite;
    }
      .content__container__list__item {
        line-height:77px;
        margin:0;
      }

@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-o-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-o-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-moz-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-moz-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}


.w-color{
    color: white !important;
}
/* image */

#wrapper {
    width: auto; height: 547px;
  transform-style: preserve-3d;
  animation: ticker 2s ease-in;
  transform: translate(0%,-50%) perspective(600px) rotateY(30deg) rotateX(0deg);;

  animation-timing-function: linear;
}
@keyframes ticker {
    0% {
        transform: translate(-200%,-50%) perspective(600px) rotateY(90deg) rotateX(60deg);;
    }

    100% {
        transform: translate(0%,-50%) perspective(600px) rotateY(30deg) rotateX(10deg);;

    }
}

.me {
  position: relative; width: auto; height: 547px;
  transform: translateZ(80px) scale(0.8);
}
.me::before, .me::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 83%;
    top: 12rem;
    left: -3rem;
    border-radius: 10px;
    background: url('./images/AliEssa.png') no-repeat 0 0;
    background-size: contain;

}

.me::after {
    height: 30px;
    top: auto;
    bottom: -123px;
    z-index: -1;
    filter: blur(23.4px);
    background-size: 100% 30px;
}

.about-text{
    font-size: 24px;
}








/* card */
.card-container {
    width: 100%;
    height: 20rem   ;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  .card {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
  
  .card .front-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
  }
  
  .card .front-content img {

  }
  
  .card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background: linear-gradient(-45deg, #ffaf00d6 0%, #ceb34e 100% );
    color: #e8e8e8;
    padding: 20px;
    line-height: 1;
    border-radius: 5px;
    pointer-events:all;
    transform: translatex(96%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  .visit{
    display: block;
    background-color: #3b3939;
    color: white;
    padding: 8px 13px 6px 13px;
    text-decoration: none;
    border-radius: 10px;
  }
  .visit:hover{
    color: #ceb34e;
  }
  .card .content .heading {
    font-size: 32px;
    font-weight: 700;
  }
  .card .content .flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

  }
  .card .content img {
    width: 50px;
    height: 40px;
  }
  
  .card:hover .content {
    transform: translateY(0);
  }
  
  .card:hover .front-content {
    transform: translateX(20%);
  }
  
  .card:hover .front-content p {
    opacity: 0;
  }
  
 
  

  @media(max-width:1400px) {
    .hero_desc{
        left: 4%;
    }
    .content__container::after{
        right: 9rem;
        top: 12px !important;
    }
    .card .content img{
        width: 30px;
        height: 30px;
    }
    .card .content .heading{
        font-size: 28px;
        margin-bottom: 0rem;
    }
    .card .content .para{
        font-size: 15px;
        margin-bottom: 0rem;
        
    }

    }
  @media(max-width:1200px) {
    .navbar-nav{
        font-size: 25px;
    }
    .hero_title{
        
        font-size: 75px;
    }
    .hero_desc {
        font-size: 50px;
        position: absolute;
        left: 7%;
    }
    .card .content img{
        width: 30px;
        height: 30px;
    }
    .card .content .heading{
        font-size: 28px;
        margin-bottom: 0rem;
    }
    .card .content .para{
        font-size: 15px;
        margin-bottom: 0rem;
        
    }

    #portfolio{
        margin-top: 4.5rem !important;
    }
    
    #about.pt-5{
        margin-top: 15rem !important;
    }
    
    .content__container{
        font-weight: 600;
        overflow: hidden;
        height: 59px;
        padding: 0 40px;
        font-size: 46px;
    }
    .content__container__list__item {
        line-height: 70px;
        margin: 0;
    }
    .content__container::after{
        right: 4rem;
    }
    .content__container__list{
        padding: 0 0 0 110px;
    }
  }



  @media(max-width:990px) {
    .navbar-nav{
        font-size: 25px;
    }
    .hero_title{
        
        font-size: 75px;
    }
    .hero_desc {
        font-size: 50px;
        position: absolute;
        left: 2%;
    }
    .card .content img{
        width: 30px;
        height: 30px;
    }
    .card .content .heading{
        font-size: 28px;
        margin-bottom: 0rem;
    }
    .card .content .para{
        font-size: 15px;
        margin-bottom: 0rem;
        
    }

    #portfolio{
        margin-top: 4.5rem !important;
    }
    
    #about.pt-5{
        margin-top: 15rem !important;
    }
    
    .me::before, .me::after{
        height: 65%;
        top: 8rem;
        left: 0rem;
    }
    .me::after{
        bottom: -21rem!important;
        top: auto !important;
    }
    .content__container{
        height: 36px;
        padding: 0 0 0 20px;
        font-size: 36px;
    }
    .content__container__list{
        padding: 0 0 0 73px;
        margin-top: 0px
    }
    .content__container__list__item{
        line-height:44.5px;
    }
    .content__container__text{
        margin-top: -4px;
    }
    .content__container::after, .content__container::before{
        top: 0px;
    color: #ceb34e;
    font-size: 37px;
    }
    .content__container::after{
        right: 1.5rem;
        top: 0px !important;
    }
    .about-text{
        font-size: 19px;
    }

  }

  @media(max-width:768px) {
    .navbar-nav{
        font-size: 25px;
    }
    .hero_title{
        
        font-size: 60px;
    }
    .hero_desc {
        font-size: 35px;
        position: absolute;
        left: 5%;
    }
    .card .content img{
        width: 40px;
        height: 40px;
    }
    .card .content .heading{
        font-size: 32px;
        margin-bottom: 0rem;
    }
    .card .content .para{
        
    }

    #portfolio{
        margin-top: 4.5rem !important;
    }

    
    .me::before, .me::after{
        height: 65%;
        top: 8rem;
        left: 0rem;
    }
    .me::after{
        bottom: -21rem!important;
        top: auto !important;
    }
    .content__container{
        height: 36px;
        padding: 0 0 0 20px;
        font-size: 36px;
    }
    .content__container__list{
        padding: 0 0 0 73px;
        margin-top: 0px
    }
    .content__container__list__item{
        line-height:44.5px;
    }
    .content__container__text{
        margin-top: -4px;
    }
    .content__container::after, .content__container::before{
        top: 0px;
    color: #ceb34e;
    font-size: 37px;
    }
    .content__container::after{
        right: 1.5rem;
        top: 0px !important;
    }
    .about-text{
        font-size: 19px;
    }

  }
      .wrapper{
      left:35%;
    }


  @media(max-width:450px) {
          .wrapper{
      left:19%;
    }
    .navbar-nav{
        font-size: 20px;
    }
    .hero_title{
        
        font-size: 45px;
    }
    .hero_desc {
        font-size: 29.4px;
        position: absolute;
        left: 0;
    }
    .card .content img{
        width: 30px;
        height: 30px;
    }
    .card .content .heading{
        font-size: 28px;
        margin-bottom: 0rem;
    }
    .card .content .para{
        font-size: 15px;
        margin-bottom: 0rem;
        
    }

    #portfolio{
        margin-top: 4.5rem !important;
    }

    .me::before, .me::after{
        height: 65%;
        top: 8rem;
        left: 0rem;
    }
    .me::after{
        bottom: -21rem!important;
        top: auto !important;
    }
    .content__container{
       
        height: 30px;
        padding: 0 0 0 10px;
        font-size: 26px;
    }
    .content__container__list{
        padding: 0 0 0 59px;
        margin-top: 4px
    }
    .content__container__list__item{
        line-height: 36.4px;
    }
    .content__container__text{
        margin-top: 3px;
    }
    .content__container::after, .content__container::before{
        top: 0px;
    color: #ceb34e;
    font-size: 37px;
    }
    .content__container::after{
        right: 1rem;
        top: 0px !important;
    }
    .about-text{
        font-size: 16px;
    }
    .socail-media li a{
        width: 40px !important;
     height: 40px !important;
    }
    .socail-media li a svg{
        width: 18px !important;
     height: 18px !important;
    }
    #wrapper {
        transform: translate(0%,-50%) perspective(600px) rotateY(0deg) rotateX(0deg);
    }
  }
 



  /* social media */
.socail-counter{
    position: absolute;
    display: flex;
    right: 0;
    top: 10vh;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    width: 100%;
    align-items: flex-end;
}
  .socail-media {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 20px;
    list-style: none;
    flex-direction: column;
  
  }
  
  .socail-media li a {
    width: 50px;
    height: 50px;
    background-color: #3b3939;
    display: flex;
    overflow: hidden;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    z-index: 9;
    border: 1px solid #ceb34e;
    border-radius: 5px;
    ;
  }
  
  .socail-media li a svg {
    width: 24px;
    height: 24px;
    -o-object-fit: contain;
    object-fit: contain;
    filter: brightness(0) saturate(100%) invert(63%) sepia(88%) saturate(1134%) hue-rotate(359deg) brightness(101%) contrast(106%);

  }
  
  .socail-media li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
    clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
    background-color: #ceb34e;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .socail-media li a:hover::after {
    animation: sideClip 0.5s linear;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 1;
  }
  
  .socail-media li a:hover svg {
    animation: fadeInLeft 0.3s linear both;
    filter: brightness(0) saturate(100%) invert(0%) sepia(93%) saturate(13%) hue-rotate(355deg) brightness(97%) contrast(92%);  }
  
  @keyframes sideClip {
    0% {
      clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
    }
  
    50% {
      clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
    }
  
    100% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }

  
